<!-- FILEPATH: /path/to/your/file.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title>My EJS Page yea!</title>
    </head>
    <body>
        <h1>Welcome to my EJS page!  Yeah !! Promjena23  3333 iii opet!</h1>
        <p>Here's some dynamic content:</p> 
    </body> 
</html>
 