<form method="get" action="/tournament" class="container d-flex flex-nowrap w-100 align-content-center justify-content-center flex-row" onsubmit="addCodeToUrl()">
    <input type="text" name="code" id="code" placeholder="Unesi kod natjecanja" class="form-control">
    <input type="submit" class="form-control btn btn-success btn-sm w-25" value="Pretraži">
</form>

<script>
    function addCodeToUrl() {
        var code = document.getElementById("code").value;
        var actionUrl = "/tournament?code=" + code;
        document.forms[0].action = actionUrl;
        return true;
    }
</script>
