<form action="" class="container d-flex flex-nowrap w-100 align-content-center justify-content-center flex-row">
    <input type="text" name="code" id="code" placeholder="Unesi kod natjecanja" class = "form-control">
    <input type="submit" class="form-control btn btn-primary btn-sm w-25" value="Pretraži">
</form>